body {
    font-family: 'Mukta', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.top-banner {
    text-align: center;
    padding-top: 50px;
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    background-position: center;
}

.top-banner-text {
    color: white;
}

.btn {
    background-color: tomato;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    padding-top: px;
    text-align: center;
}

.donate-today {
    text-align: center;
    width: 100%;
}

.donate-text {
    width: 50%|;
}

.amount {
    display: flex;
    width: 75%;
    text-align: center;
    margin: 10%;
    justify-content: space-between;
}

.amount div {
    background-color: rgb(241, 216, 216);
    padding: 10px;

}

.amount div:hover {
    background-color: red;
    border: 2px;
}

.our-plan {
    display: flex;
    justify-content: space-between;
    margin: o auto;
    padding: 5px;
    box-sizing: border-box;
}

.half-width {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    padding: 5%;
}

.half-width img {
    width: 65%;
}


.footer-text {
    color: red;
    font-family: 'Courier New', Courier, monospace;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}